/*
    COLORS:
        RED:#D0321E
        GREEN:#428438
        BLUE:#1E89D0
*/

.Home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

/*LOGO - START*/
.logo-circle {
    width: 250px;
    height: 250px;
    z-index: 90;
    background-color: #D0321E;
    border-radius: 50%;
    padding: 250px;
    position: fixed;
    top: -300px;
    left: -170px;
}
.title1 , .title2 {
    z-index: 100;
    position: fixed;
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
    color: #ffffff;
    top: 100px;
    left: 50px;
    text-align: center;
}
.title1 {
    background-color: #ffffff;
    color: #D0321E;
    width: 160px;
    padding: 6px;
    top: 30px;
    left: 30px;
    border-radius: 14px;
}
@media screen and (min-width: 768px) {
    .title1, .title2 {
        font-size: 42px;
    }
    .logo-circle {
        top: -290px;
        left: -160px;
    }
}
@media screen and (min-width: 1000px) {
    .title1, .title2 {
        font-size: 46px;
    }
    .logo-circle {
        top: -280px;
        left: -150px;
    }
}
/*LOGO - END*/

/*JOIN - START*/
.join-circle {
    position: fixed;
    width: 450px;
    height: 450px;
    z-index: 90;
    background-color: #428438;
    border-radius: 50%;
    bottom: -290px;
    right: -200px;
}
.join-button {
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 210px;
    z-index: 100;
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    color: #ffffff;
}
@media screen and (min-width: 768px) {
    .join-circle {
        bottom: -150px;
        right: -150px;
    }
    .join-button {
        font-size: 32px;
        bottom: 80px;
        right: 20px;
    }
}
@media screen and (min-width: 1000px) {
    .join-circle {
        bottom: -100px;
        right: -100px;
    }
    .join-button {
        font-size: 36px;
        bottom: 90px;
        right: 30px;
    }
}
/*JOIN - END*/

/*LOGIN - START*/
.login {
    align-self: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 80;
    display: none;
}
.login-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
.login-input-text {
    outline: none;
    padding-left: 3px;
    grid-column: 2/3;
    font-size: 26px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
.login-input-before {
    grid-column: 1/2;
    background-color: #ffffff;
    color: #000000;
    font-size: 28px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}
.login-label {
    grid-column: 1/3;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 4px;
}
.login-button {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    font-family: 'Fredoka One', cursive;
    font-size: 22px;
    background-color: #1E89D0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    color: #ffffff;
    outline: none;
}
.login-submit {
    margin-top: 20px;
    grid-column: 1/3;
    width: 60%;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 28px;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}
.login-error {
    font-size: 32px;
    color: #D0321E;
    justify-self: center;
    grid-column: 1/3;
}
/*LOGIN - END*/

/*MAIN - START*/
.main {
    margin-top:50px;
    margin-bottom:10%;
    height: 100vh;
    min-height: 770px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.55fr 0.45fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.main .image {
    width: 50vw;
    height: 50vw;
    max-width: 650px;
    max-height: 650px;
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: start;
    margin-left: 10px;
}
.main .title {
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: end;
    color: #fff1c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .title span {
    font-size: 40px;
    display: block;
    text-align: center;
}
.search-bar {
    margin-top: 10px;
    border: 3px solid #fff1c1;
    border-radius: 6px;
    padding: 4px;
    font-size: 22px;
}
@media screen and (min-width: 768px) {
    .main .image {
        grid-row: 1/3;
        grid-column: 1/2;
        justify-self: end;
        margin-left: 0px;
    }
    .main .title {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: start;
        align-self: end;
    }
    .main .title span {
        font-size: 46px;
    }
}
@media screen and (min-width: 1000px) {
    .main .image {
        grid-row: 1/3;
        grid-column: 1/2;
        justify-self: end;
    }
    .main .title {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: start;
        align-self: end;
    }
    .main .title span {
        font-size: 55px;
    }
}
/*MAIN - END*/

/*INFO - START*/
.infos {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    row-gap: 100px;
}
.infos-title {
    grid-column: 1/2;
    font-size: 35px;
    color: #fff1c1;
    width: 80%;
    justify-self: center;
    margin-left: 40px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-title {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #428438;
    color: #ffffff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.info:nth-child(odd) .info-title {
    background-color: #D0321E;
}
.info:nth-child(even) .info-title {
    background-color: #428438;
}
.info-uses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-use {
    color: #000000;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 28px;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .infos-title {
        grid-column: 1/3;
        font-size: 40px;
        width: 70%;
    }
    .infos {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        justify-items: center;
        row-gap: 100px;
    }
}
@media screen and (min-width: 1000px) {
    .infos-title {
        font-size: 45px;
        width: 50%;
    }
}
/*INFO - END*/

/*FOOTER - START*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vh;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: monospace;
}
.footer a {
    margin-left: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
}
/*FOOTER - END*/