* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
}

body {
    background-color: #232323;
}