/*
    COLORS:
        RED:#D0321E
        GREEN:#428438
        BLUE:#1E89D0
*/

.Navbar {
    background-color: #232323;
    width: 120px;
    height: 100vh;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.nav-links {
    display: grid;
    grid-template-rows: repeat(3, 90px) minmax(90px, 90%);
    align-content: start;
    row-gap: 10px;
    margin: 10px 0px 10px 0px;
}
.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-link i {
    font-size: 4em;
    color: #FFFFFF;
}
.nav-link .text {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;
    color: #FFFFFF;
}
.nav-down {
    align-self: end;
}
.nav-link:hover i {
    color: #fff1c1;
}
.nav-link:hover .text {
    color: #fff1c1;
}
.link-active {
    color: #fff1c1 !important;
}